body {
    margin: 0;
    padding: 0;
    background-color: grey;

}
img {
  width: 90px;
  margin-top: 7px;
}

h1 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
  position: relative;
  margin: 20px;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
/* / Keyframes */

/* toggle */


.toggle input[type=checkbox] {
	display: none;
}



.toggle label {
  cursor: pointer;
  color: lightgray;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.3s;
  width: 90px;
  height: 40px;
  margin-top: 4px;
  margin-left: 1px;
}

 .toggle input[type=checkbox] {
  display: none;
}

 
 .toggle label::after {

  content: ' ';
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: all ease-in-out 0.4s;
}
 
 .toggle input[type=checkbox]:checked ~ label {
 color: rgba(245, 245, 107, 0.869);

} 

 .toggle input[type=checkbox]:checked ~ label::after {
  color: rgba(245, 245, 107, 0.869);
  transform: translateX(50px);
} 



body.light-theme {
	background-color: whitesmoke;
}


 body.light-theme p {
	color: black;
}

/* /toggle */

.photo1 {
  border-radius: 50%;
  width: 100px;
  height: 120px;
  margin-left: 100px;
  
}

.aboutme2 {
  text-decoration: underline;
  margin-left: 20px;
}

.github {
  margin-top: 20px;
  width: 320px;
  padding-right: 20%;
  padding-left: 20%;
}

.github2 {
  margin-left: 40px;
}


.linkedIn {
  margin-top: 20px;
  width: 320px;
  padding-right: 20%;
  padding-left: 20%;
 
}
/* navbar */
nav {
  background-color: black;
  
}



  


/* Home  */
.headline {
  margin-left: 20px;
  margin-top: 100px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 80px;


}


/* About Me */
.about {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 20px;
  margin-top: 20px;
}

.aboutme {
  margin-left: 20px;
  margin-top: 30px;

}
.contact {
  margin: 20px;
}

/* / About Me */


/* Project Section */
 .project-row1, .project-row2{
  margin: 20px;
 }

 .img {
  width: 240px;
  margin-left: 20px;
 }

 .card {
  background-color:white;
  border-radius: 2%;
 }


.speech, .speech1 {
  color: black;
  margin: 4%;
}

.span1 {
  float: right;
  margin-right: 20px;
}

.app {
  text-align: center;
  background-color: aliceblue;
  width: 100px;
  border-radius: 20px;
  margin-left: 84px;
  margin-bottom: 20px;
}
/* /Project Section */



@media screen and (min-width: 768px) {
  #projects {
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .img {
    width: 60%;
    margin-left: 160px;
   }
  
   .card {
    background-color:white;
    border-radius: 2%;
   }
  
  
  .speech, .speech1 {
    color: black;
    margin: 4%;
    text-align: center;
  }
  .speech1 {
    margin-top: 4px;
  }
  

  
  .app {
    text-align: center;
    background-color: aliceblue;
    width: 100px;
    border-radius: 20px;
    margin-left: 304px;
    margin-bottom: 20px;
  }
  
  .github, .linkedIn {
    width: 60%;
    padding: 4px;
    margin-left: -120px;
  }

  .navbar-nav {
    margin-left: 40%;
  }


  .toggle label {
    cursor: pointer;
    color: lightgray;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 90px;
    height: 40px;
    margin-top: 4px;
    margin-left: 20px;
  }
  
   .toggle input[type=checkbox] {
    display: none;
  }
  
   
   .toggle label::after {

    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: all ease-in-out 0.4s;
  }
   
   .toggle input[type=checkbox]:checked ~ label {
   color: rgba(245, 245, 107, 0.869);

  } 
  
   .toggle input[type=checkbox]:checked ~ label::after {
    color: rgba(245, 245, 107, 0.869);
    transform: translateX(50px);
  } 
  

}


  @media screen and (min-width: 1024px) {
    .headline {
      margin: 220px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 120px;
      padding-left: 1px;
    }

    .toggle label {
      cursor: pointer;
      color: lightgray;
      display: inline-block;
      position: relative;
      transition: all ease-in-out 0.3s;
      width: 90px;
      height: 40px;
      margin-top: 4px;
      margin-left: 20px;
    }
    
     .toggle input[type=checkbox] {
      display: none;
    }
    
     
     .toggle label::after {

      content: ' ';
      cursor: pointer;
      display: inline-block;
      position: absolute;
      left: 2px;
      top: 2px;
      transition: all ease-in-out 0.4s;
    }
     
     .toggle input[type=checkbox]:checked ~ label {
     color: rgba(245, 245, 107, 0.869);
 
    } 
    
     .toggle input[type=checkbox]:checked ~ label::after {
      color: rgba(245, 245, 107, 0.869);
      transform: translateX(50px);
    } 
    

    h1 {
      display: flex;
      justify-content: center;
      font-weight: 700;
      font-size: 40px;
      font-family: Hack, sans-serif;
      text-transform: uppercase;
      background: linear-gradient(90deg, #000, #fff, #000);
      letter-spacing: 5px;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-repeat: no-repeat;
      background-size: 80%;
      animation: shine 5s linear infinite;
      position: relative;
      margin: 200px;
    }
    
    @keyframes shine {
      0% {
        background-position-x: -500%;
      }
      100% {
        background-position-x: 500%;
      }
    }
    .github {
      margin-left: 20px;
      padding-right: 220px;
      padding-left: 2px;
    }

    .linkedIn {
      margin-left: 20px;
      padding-right: 220px;
      padding-left: 2px;
 
}


    #projects {
      margin-top: 20px;
      margin-left: 20px;
    }


    img {
      width: 120px;
      margin-top: 7px;
    }
    .img {
      margin-left: 80px;
    }
    
    .navbar-nav {
      margin-left: 70%;

    }

    .project-row1 {
      display: grid;
      display: grid;
      justify-content: center;
      grid-template-columns: 200px 200px 200px 200px;
      grid-gap: 4rem;


    }

    .project-row2 {
      display: grid;
      display: grid;
      justify-content: center;
      grid-template-columns: 200px 200px 200px 200px;
      grid-gap: 4rem;
      margin-top: 40px;
    }


    .card {
      width: 422px;
      margin: 2px;
      
    }

    .speech {
      margin: 30px;
    }
    .speech1 {
      margin-bottom: 30px;
      margin-left: 20px;
    }


    .app {
      text-align: center;
      background-color: aliceblue;
      width: 100px;
      border-radius: 20px;
      margin-left: 150px;
      margin-bottom: 20px;
    }
  }
